h1{
	border: solid;
}

h2{
	border: solid 10px;
}

h3{
	border: solid 2px;
}

h4{
	border: solid red;
}

h5{
	border: solid;
	border-radius: 10px;
}

img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border: solid 5px;
}